.model-content__wrapper{border-radius:12px;background-color:#fff;position:relative}.model-content__wrapper .inner-scroll{padding:0 14px 20px 14px;min-height:100px}.model-content__wrapper.no-padding .inner-scroll{padding:0}.model-content__wrapper .modal-footer{padding:14px;border-top:1px solid rgba(90,90,90,.1)}.model-content__wrapper .modal-header{padding:14px}.model-content__wrapper .modal-header.no-padding{padding:0}.model-content__wrapper .modal-header .btn-header-color{cursor:pointer;padding:4px}.model-content__wrapper .modal-header .btn-header-color svg{color:rgba(160,160,160,.5)}.model-content__wrapper .modal-header .btn-header-color:hover svg{color:#a0a0a0}.model-content__wrapper .modal-header .title{font-size:18px;font-weight:600}.model-content__wrapper.fixed .modal-header{position:absolute;top:0;right:0;left:0;z-index:1;background-color:rgba(45,45,48,.4);color:#fff}
:root{--n-icon-size: 13px;--n-line-height-textarea: 1.3 !important}*{letter-spacing:-0.2px}.el-filter-item{padding:5px 0;border-bottom:1px solid rgba(45,45,48,.1)}.el-filter-item:last-child{border-bottom:none}.uneditable-input,input[type=color],input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=month],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week]{letter-spacing:-0.2px !important}.primary-color{color:#019b82}.n-switch__button{font-size:11px}.n-data-table-th{background-color:#fff !important}.fn_logo{margin:auto}.fn_logo .full_logo{margin:auto}.fn_logo .full_logo img{height:40px;border-radius:5px}.n-tag__border{border:0 !important}.n-page-header-header{margin-bottom:10px !important}.n-tag{background-color:#f5f5f5}.wrap-x{padding-left:16px;padding-right:16px}.wrap-x .pad-top{padding-top:16px}.trigger-button{position:absolute;background-color:#fff !important;top:5px;right:5px;z-index:1}.creation-loading-list{white-space:nowrap}.image-full-width{width:100%}.image-full-width img{width:100%}.no-padding{padding:0 !important}.user_action__option{cursor:pointer;padding:8px 4px;transition:all .2s ease-in-out;border-radius:4px}.user_action__option:hover{background-color:var(--atosa-some-a-bg-color)}.user_email{font-size:12px}
.tag-manager{border-left:2px solid #e5e5e5;padding-left:20px;padding-bottom:10px;padding-top:10px}
.page__site-target{padding:20px}.page__site-target .tag-container{padding-left:30px;border-left:1px solid #e5e5e5}
.page__site-target{padding:20px}.page__site-target .tag-container{padding-left:30px;border-left:1px solid #e5e5e5}
:root{--n-icon-size: 13px;--n-line-height-textarea: 1.3 !important}*{letter-spacing:-0.2px}.el-filter-item{padding:5px 0;border-bottom:1px solid rgba(45,45,48,.1)}.el-filter-item:last-child{border-bottom:none}.uneditable-input,input[type=color],input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=month],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week]{letter-spacing:-0.2px !important}.primary-color{color:#019b82}.n-switch__button{font-size:11px}.n-data-table-th{background-color:#fff !important}.fn_logo{margin:auto}.fn_logo .full_logo{margin:auto}.fn_logo .full_logo img{height:40px;border-radius:5px}.n-tag__border{border:0 !important}.n-page-header-header{margin-bottom:10px !important}.n-tag{background-color:#f5f5f5}.wrap-x{padding-left:16px;padding-right:16px}.wrap-x .pad-top{padding-top:16px}.trigger-button{position:absolute;background-color:#fff !important;top:5px;right:5px;z-index:1}.creation-loading-list{white-space:nowrap}.image-full-width{width:100%}.image-full-width img{width:100%}.no-padding{padding:0 !important}.page__site-target{padding:20px}.page__site-target .tag-container{padding-left:30px;border-left:1px solid #e5e5e5}.page__site-target .text-muted{height:20px;width:20px;border-radius:50%;background-color:red}.page__site-target .text-muted.level-0{background-color:gray}.page__site-target .text-muted.level-1{background-color:#e826d9}.page__site-target .text-muted.level-2{background-color:#019b82}
*{letter-spacing:-0.3px}.atosa_fn_wrap{margin:0 auto}.n-divider:not(.n-divider--vertical){margin:12px 0}.router-link-exact-active{background-color:#dfdfdf !important}.app-page{padding-top:20px}.atosa_fn_content{padding-top:16px;margin-right:0 !important}.field-label{font-size:13px;margin-bottom:4px;margin-top:16px;letter-spacing:-0.5px}.field-label svg{display:inline-block}.field-label.no-margin-top{margin-top:0}.field-value{font-weight:500;font-size:15px;line-height:1.3}.n-button__content{font-size:13px !important}
.download-gui{position:fixed;z-index:2;bottom:0;left:10px}.download-gui__container{width:300px}.download-gui__container .file-item{padding:10px 12px;border-bottom:1px solid rgba(45,45,48,.2)}.download-gui__container .file-item:last-child{border-bottom:none}.download-gui__container .file-name{font-size:14px}.download-gui__container .file-path{font-size:12px;color:gray}
:root{--n-icon-size: 13px;--n-line-height-textarea: 1.3 !important}*{letter-spacing:-0.2px}.el-filter-item{padding:5px 0;border-bottom:1px solid rgba(45,45,48,.1)}.el-filter-item:last-child{border-bottom:none}.uneditable-input,input[type=color],input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=month],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week]{letter-spacing:-0.2px !important}.primary-color{color:#019b82}.n-switch__button{font-size:11px}.n-data-table-th{background-color:#fff !important}.fn_logo{margin:auto}.fn_logo .full_logo{margin:auto}.fn_logo .full_logo img{height:40px;border-radius:5px}.n-tag__border{border:0 !important}.n-page-header-header{margin-bottom:10px !important}.n-tag{background-color:#f5f5f5}.wrap-x{padding-left:16px;padding-right:16px}.wrap-x .pad-top{padding-top:16px}.trigger-button{position:absolute;background-color:#fff !important;top:5px;right:5px;z-index:1}.creation-loading-list{white-space:nowrap}.image-full-width{width:100%}.image-full-width img{width:100%}.no-padding{padding:0 !important}.font-item{border-radius:12px;margin-bottom:8px;border:1px solid rgba(45,45,48,.1);overflow:hidden;cursor:pointer}.font-item img{border-radius:8px}.font-item .font-item__name{padding-bottom:10px;font-weight:500;font-size:13px}.font-item:hover,.font-item.active{border:1px solid #019b82}.font-item:hover .font-item__name,.font-item.active .font-item__name{color:#019b82}
.model-login-require{width:440px;background-color:#fff;border-radius:12px;overflow:hidden}.model-login-require .title{font-size:20px;font-weight:600}.model-login-require .desc{font-size:14px}
.file-picker{display:none}
.all_models{background-color:var(--atosa-site-bg-color);border-radius:6px}
.vue-advanced-cropper {
  text-align: center;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  max-height: 100%;
  max-width: 100%;
  direction: ltr;
}
.vue-advanced-cropper__stretcher {
  pointer-events: none;
  position: relative;
  max-width: 100%;
  max-height: 100%;
}
.vue-advanced-cropper__image {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: absolute;
  transform-origin: center;
  max-width: none !important;
}
.vue-advanced-cropper__background, .vue-advanced-cropper__foreground {
  opacity: 1;
  background: black;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.vue-advanced-cropper__foreground {
  opacity: 0.5;
}
.vue-advanced-cropper__boundaries {
  opacity: 1;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}
.vue-advanced-cropper__cropper-wrapper {
  width: 100%;
  height: 100%;
}
.vue-advanced-cropper__image-wrapper {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}
.vue-advanced-cropper__stencil-wrapper {
  position: absolute;
}

.vue-simple-handler {
  display: block;
  background: white;
  height: 10px;
  width: 10px;
}

.vue-handler-wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
}
.vue-handler-wrapper__draggable {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vue-handler-wrapper--west-north {
  cursor: nw-resize;
}
.vue-handler-wrapper--north {
  cursor: n-resize;
}
.vue-handler-wrapper--east-north {
  cursor: ne-resize;
}
.vue-handler-wrapper--east {
  cursor: e-resize;
}
.vue-handler-wrapper--east-south {
  cursor: se-resize;
}
.vue-handler-wrapper--south {
  cursor: s-resize;
}
.vue-handler-wrapper--west-south {
  cursor: sw-resize;
}
.vue-handler-wrapper--west {
  cursor: w-resize;
}
.vue-handler-wrapper--disabled {
  cursor: auto;
}

.vue-line-wrapper {
  background: none;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vue-line-wrapper--north, .vue-line-wrapper--south {
  height: 12px;
  width: 100%;
  left: 0;
  transform: translateY(-50%);
}
.vue-line-wrapper--north {
  top: 0;
  cursor: n-resize;
}
.vue-line-wrapper--south {
  top: 100%;
  cursor: s-resize;
}
.vue-line-wrapper--east, .vue-line-wrapper--west {
  width: 12px;
  height: 100%;
  transform: translateX(-50%);
  top: 0;
}
.vue-line-wrapper--east {
  left: 100%;
  cursor: e-resize;
}
.vue-line-wrapper--west {
  left: 0;
  cursor: w-resize;
}
.vue-line-wrapper--disabled {
  cursor: auto;
}

.vue-bounding-box {
  position: relative;
  height: 100%;
  width: 100%;
}
.vue-bounding-box__handler {
  position: absolute;
}
.vue-bounding-box__handler--west-north {
  left: 0;
  top: 0;
}
.vue-bounding-box__handler--north {
  left: 50%;
  top: 0;
}
.vue-bounding-box__handler--east-north {
  left: 100%;
  top: 0;
}
.vue-bounding-box__handler--east {
  left: 100%;
  top: 50%;
}
.vue-bounding-box__handler--east-south {
  left: 100%;
  top: 100%;
}
.vue-bounding-box__handler--south {
  left: 50%;
  top: 100%;
}
.vue-bounding-box__handler--west-south {
  left: 0;
  top: 100%;
}
.vue-bounding-box__handler--west {
  left: 0;
  top: 50%;
}

.vue-draggable-area {
  position: relative;
}

.vue-preview-result {
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: 100%;
}
.vue-preview-result__wrapper {
  position: absolute;
}
.vue-preview-result__image {
  pointer-events: none;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transform-origin: center;
  max-width: none !important;
}

.vue-rectangle-stencil {
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.vue-rectangle-stencil__preview {
  position: absolute;
  width: 100%;
  height: 100%;
}
.vue-rectangle-stencil--movable {
  cursor: move;
}

.vue-circle-stencil {
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: content-box;
  cursor: move;
}
.vue-circle-stencil__preview {
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
}
.vue-circle-stencil--movable {
  cursor: move;
}

.vue-preview {
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}
.vue-preview--fill {
  width: 100%;
  height: 100%;
  position: absolute;
}
.vue-preview__wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}
.vue-preview__image {
  pointer-events: none;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transform-origin: center;
  max-width: none !important;
}

.vue-simple-line {
  background: none;
  transition: border 0.5s;
  border-color: rgba(255, 255, 255, 0.3);
  border-width: 0;
  border-style: solid;
}
.vue-simple-line--south, .vue-simple-line--north {
  height: 0;
  width: 100%;
}
.vue-simple-line--east, .vue-simple-line--west {
  height: 100%;
  width: 0;
}
.vue-simple-line--east {
  border-right-width: 1px;
}
.vue-simple-line--west {
  border-left-width: 1px;
}
.vue-simple-line--south {
  border-bottom-width: 1px;
}
.vue-simple-line--north {
  border-top-width: 1px;
}
.vue-simple-line--hover {
  opacity: 1;
  border-color: white;
}
